.login-form{
	width: 350px;
	height: 200px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.input-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form div {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}

.login-form input {
	position: absolute;
	right: 0;
}

.login-form button {
	width: 100px;
	margin: 0px calc(50% - 50px);
}
